COMPOSE_PROJECT_NAME=discord-bot
DISCORD_TOKEN=replace-with-your-discord-bot-token
DISCORD_DEV_GUILD_ID=
YOUTUBE_REFRESH_TOKEN=
YOUTUBE_OAUTH_INIT=false
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
