<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="org.springframework.boot.logging.logback.StructuredLogEncoder">
            <charset>${CONSOLE_LOG_CHARSET:-UTF-8}</charset>
            <format>${CONSOLE_LOG_STRUCTURED_FORMAT:-ecs}</format>
        </encoder>
    </appender>

    <logger name="dev.lavalink.youtube.http.YoutubeOauth2Handler" level="INFO"/>
    <logger name="dev.lavalink.youtube" level="DEBUG"/>
    <logger name="com.sedmelluq.discord.lavaplayer" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
